/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

/* Estilos Gerais */
body {
    --bg-shadow: linear-gradient(to right, #242323ad, #242323ad);
    
    background-image: 
        var(--bg-shadow),
        url('../../assets/imgs/img1.jpg');
    background-size: cover;
}
i {
    color: #fa95a6;
    font-size: 4em;

    filter: drop-shadow(2px 4px 6px #800080);
    cursor: pointer;

    z-index: 333;
    transition: all .3s;
}
i:hover {
    color: #f8d0d7;
    font-size: 4.3em;

    filter: drop-shadow(4px 8px 12px #ce56ce);
}
i.arrow-btn-right {
    position: absolute;
        top: 45%;
        right: clamp(7vw, 1.5em, .5em);
    transform: translateY(8px); 
}
i.arrow-btn-left {
    position: absolute;
        top: 45%;
        left: clamp(7vw, 1em, .5em);
    transform: translateY(8px); 
}

/* Estilos Slider */
.slider {
    width: 100%;
    height: 100vh;

    display: grid;
    place-items: center;

    position: relative;
}

.slide {
    display: none;
    width: clamp(80vw, 37.5em, 22.5em);
    height: 80vh;
    background-size: cover;

    transition: all 1s;
}
.slide.active {
    animation: fadeIn 1.3s;
    display: block;
    border-radius: .5em;
}

/* Animações */
@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}